# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
venv/
env/
.env

# Database
*.db
*.db-journal
*.sqlite3
uploads/

# Node
node_modules/
dist/
.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log

# Test / Cache
.mypy_cache/
.pytest_cache/
.ruff_cache/
